<main>
    <div id="payModal" class="modal">
        <div class="modal-content">
            <img src="https://i.imgur.com/dHLtxYV.png" alt="banner de alerta de erro no pagamento">
        </div>
    </div>
    <div id="errModal" class="modal">
        <div class="modal-content">
            <img src="https://i.imgur.com/uuyHo9Q.png" alt="banner de alerta de erro interno">
        </div>
    </div>
    <div id="stockNull" class="modal">
        <div class="modal-content">
            <img src="https://i.imgur.com/3yJk2Zh.png" alt="banner de alerta que um dos produtos do carrinho agora esta indisponivel">
        </div>
    </div>
    <h3>Produtos:</h3>
    <div id="cartItems"></div>
    <div class="total-section">
        <p>Produto: R$ <span id="payProduto">0</span></p>
        <p>Frete: R$ <span id="payFrete">0</span></p>
        <p>Desconto: R$ <span id="payGift">0</span></p>
        <p>Total: R$ <span id="payTotal">0</span></p>
    </div>
    <form id="payment-form">
        <h3>Dados de Cobrança</h3>
        <div id="link-authentication-element"></div>
        <div id="shipping-address-element"></div>
        <h3>Pagamento</h3>
        <div id="payment-element"></div>
        <button id="submit">Pagar</button>
        <div id="error-message"></div>
    </form>
    <div id="messages" role="alert" style="display: none"></div>
</main>
