<main>
    <div id="successModal" class="modal">
        <div class="modal-content">
            <img src="https://i.imgur.com/0sWqYur.png" alt="banner de alerta de compra realizada com sucesso">
        </div>
    </div>
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <img src="https://i.imgur.com/Hvkz6wo.png" alt="banner de alerta de erro na finalizacao da compra">
        </div>
    </div>
    <div id="errModal" class="modal">
        <div class="modal-content">
            <img src="https://i.imgur.com/uuyHo9Q.png" alt="banner de alerta de erro interno">
        </div>
    </div>
<h1>Compra realizada com sucesso!</h1>
<h3>Infomações do pedido:</h3>
<div>
    <h3>O numero do seu pedido é <span id="orderid"></span></h3>
</div>
<h3>Produtos Comprados:</h3>
<div id="cartItems"></div>
<div class="total-section">
    <p>Produto: R$ <span id="payProduto">0</span></p>
    <p>Frete: R$ <span id="payFrete">0</span></p>
    <p>Desconto: R$ <span id="payGift">0</span></p>
    <p>Total Pago: R$ <span id="payTotal">0</span></p>
</div>
<div>
    <h3>Visite a Pagina de pedidos para verificar o status de envio</h3>
</div>
</main>
